export(addIndexMZRT2Features)
export(addIndexRT2Features)
export(calibrateRTTransitions)
export(computeAlignment)
export(computeTransitionStats)
export(createBestFeaturesView)
export(createConnection)
export(createMapImage)
export(createProduct)
export(dropIndexMZRTFeatures)
export(extractfeatures)
export(feature2Chrom)
export(features2Chrom)
export(file.stem)
export(findTransitions)
export(findTransitionsForIRT)
export(generatePseudospecMS1)
export(getFeaturesFlex)
export(getFromMap)
export(getIRTcalibrationmodel)
export(getMS1id)
export(getMS1seeds)
export(getMZRTVol)
export(getMatches)
export(getRTAxis)
export(getSwath)
export(getTransitions)
export(getXIC)
export(histOfMassFG)
export(mapSummary)
export(plotGroup)
export(plotProducts)
export(plotprecursor)
export(prepareData)
export(pseudospecMS2)
export(ratiosOfTransitionList)
export(scoreGroup)
export(summaryDB)
export(swathMS1Coverage)
export(transformKURT)
export(transformSD)
export(visAlignmentMatrix)
export(visTransitions)
